**/.git
**/.vs
**/bin
**/obj
**/out
**/publish
**/TestResults
**/*.user
**/*.trx
**/coverage
**/.DS_Store
**/Thumbs.db
**/*.log
**/logs
**/*.tmp
**/*.temp
**/secrets.json
**/appsettings.Development.json
tests/
